/* Navbar  */
.navbar-main-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-sub-container {
  max-width: 1580px;
  box-sizing: border-box;
  padding: 10px;
}


.main-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sub-container {
  max-width:1500px;
  min-height: 100vh;
  padding: 20px; /* Default padding for large screens */
}

@media (max-width: 767px) {
  .sub-container {
    padding: 10px; /* Padding for mobile screens */
  }
}
